/*******  変数定義  *******/
:root {
    --color-1: #f9fbfe;
    --color-2: #e2e2e2;
    --color-3: #badbec;
    --color-4: #2b546a;
    --color-5: #555555;
    --color-6: #4e8f48;
    --color-7: #ffc64a;
    --color-8: #f2f2f2;
    /* --shadow-1: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12); */
}

/*******  CSSの初期化  *******/
* {
    /* background-color: var(--color-1, white); */
    padding: 0;
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
    border-collapse: collapse;
    box-sizing: border-box;
    color: var(--color-4, black);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
p, li, a {
    font-size: 1.6rem;
    font-weight: bold;
}
p {
    font-weight: normal;
}


/***************************/
/*******  下記メイン  *******/
/***************************/
/*******  タグ要素  *******/
html {
    font-size: 10px;
}

body {
    min-width: 950px;
    background-color: var(--color-2, grey);
}
span {
    font-size: 2rem;
}

h1, h1 * {
    font-size: 5.6rem;
}

h2, h2 * {
    font-size: 4rem;
}

h3, h3 * {
    font-size: 2.5rem;
}
button {
    border: none;
}

/*******  ヘッダー  *******/
header {
    height: 200px;
    background-color: var(--color-4, blue);
}

header * {
    color: var(--color-1, whitesmoke);
}

#header_container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* ヘッダーロゴ */
#header_logo {
    display: inline-block;
}

#logo_top {
    font-weight: bold;
    color: orange;
}

#logo_bottom {
    padding-left: 20px;
}

/* ヘッダーリンク */
#header_link {
    margin: 0 0 0 auto;
}

#header_form {
    margin-top: 30px;
    /* height: 100%; */
}

#header_list {
    /* height: 100%; */
    display: flex;
}

.header_btn {
    margin-left: 2px;
    padding: 7px;
    font-size: 1.6rem;
    font-weight: bolder;
    border-radius: 9px;
    color: var(--color-5, black);
    background-color: var(--color-3, grey);
}

/*******  ページ見出し  *******/
#page_header_wrapper {
    height: 100px;
    background-color: var(--color-1, whitesmoke);
}

#page_header_container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}
#page_header_title {
    display: inline-block;
}

#page_header_right {
    float: right;
    text-align: center;
    margin: 0 auto;
}

/*******  メインコンテンツ全体  *******/
#main_wrapper {    
    min-width: 900px;
    width: 950px;
    margin: 0 auto;
}

#main_container {
    width: 900px;
    padding: 40px 40px 25px 60px;
    margin: 34px auto;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 9px;
    background-color: var(--color-1, whitesmoke);
}

/*******  フッター  *******/
footer {
    text-align: center;
    background-color: var(--color-1, whitesmoke);
}

#footer_top {
    height: 60px;
}

#footer_middle {
    height: 200px;
}

#footer_bottom {
    display: block;
    height: 100px;
    color: var(--color-2, whitesmoke);
    background-color: var(--color-4, grey);
}