/* ================================================== */
/* ページソート */
/* ================================================== */
.job_sort {
    height: 70px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 30px;
    background-color: var(--color-1, whitesmoke);
}
.job_sort_number {
    display: inline-block;
    margin-left: 10px;
    font-size: 3.6rem;
}
.job_sort_form {
    display: flex;
    float: right;
    padding-top: 5px;
}
.job_sort_list {
    display: flex;
}
.job_sort_item {
    padding-left: 30px;
}
.job_sort_label {
    float: left;
    margin-top: 10px;
    margin-right: 13px;
    font-weight: bolder;
}
.job_sort_select {
    padding: 5px 10px 5px 5px;
    font-size: 1.6rem;
}
/* ================================================== */
/* ページネイション */
/* ================================================== */
.pagination_form {
    justify-content: center;
    display: flex;
}
.pagination_list {
    display: flex;
}
.pagination_item {
    border: solid 0.5px var(--color-2, grey);
    background-color: var(--color-1, whitesmoke);
}
.pagination_link {
    padding: 4px 12px;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--color-1, whitesmoke);
}
#pagination_selected {
    color: var(--color-2, whitesmoke);
    background-color: var(--color-4, grey);
}
/* ================================================== */
/* 案件カード */
/* ================================================== */
#job_card_container {
    width: 900px;
    margin: 0 auto;
}

.job_card {
    display: inline-block;
    width: 100%;
    padding: 25px 40px;
    margin: 34px 0px;
    border-radius: 9px;
    background-color: var(--color-1, whitesmoke);
}
/* ================================================== */
/* 案件カードの上部 */
/* ================================================== */
.job_title {
    display: block;
}
.job_status {
    width: 100%;
    margin: 10px 0px;
}
.job_status_item {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 10px;
	font-weight: bolder;
    font-size: 1.4rem;
    border-radius: 5px;
    color: var(--color-4, white);
    background-color: var(--color-3, blue);
}
.job_num {
    float: right;
    font-size: 1.2rem;
}
.job_lead {
    font-size: 1.4rem;
    color: var(--color-5, black);
}
/* ================================================== */
/* 案件カードの中部 */
/* ================================================== */
.job_middle {
    margin: 15px 0;;
}
.job_table {
    display: inline-block;
    text-align: left;
}
.job_table_row {
    border: solid 1px grey;
}
.job_table th {
    width: 110px;
    color: var(--color-1, whitesmoke);
    background-color: var(--color-4, black);
}
.job_table td {
    width: 330px;
}
.job_table th, td{
    padding: 8px 18px;
    font-size: 1.4rem;
}
.job_middle_right {
    float: right;
    width: 350px;
    border-radius: 5px;
    border: solid 1px var(--color-4, grey);
    background-color: var(--color-2, whitesmoke);
}
.job_tips_title{
    display: inline-block;
    padding: 7px 20px 7px 14px;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    color: var(--color-1, whitesmoke);
    background-color: var(--color-6, green);
}
.job_tips {
    min-height: 150px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--color-5, black);
}
/* ================================================== */
/* 案件カードの下部 */
/* ================================================== */
.job_btn_container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.job_btn{
    margin: 0 auto;
    border: none;
    border-radius: 17px;
}
.job_btn a {
    padding: 9px 27px;
    font-size: 1.8rem;
    border-radius: 17px;
}
.job_btn_link_favorite {
    background-color: var(--color-7, orange);
}
.job_btn_link_detail {
    background-color: var(--color-2, whitesmoke);
}
.job_btn_link_hide {
    color: var(--color-2, whitesmoke);
    background-color: var(--color-5, grey);
}
/* ================================================== */
/* 記事投稿フォーム */
/* ================================================== */
.form_job_row {
    border-bottom: solid 1px var(--color-4, grey);
}
.form_job_row th {
    padding: 10px 30px;
    text-align: left;
    border-bottom: solid 1px var(--color-3, whitesmoke);
    background-color: var(--color-4, grey);
}
.form_job_row label {
    color: var(--color-1, whitesmoke);    
}
.form_job_input {
    padding: 5px;
}
#btn_job_container {
    padding-top: 20px;
    text-align: center;
}
.btn_job {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: var(--color-1, whitesmoke);    
    background-color: var(--color-4, grey);   
}
#btn_cancel {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    color: var(--color-5, whitesmoke);    
    background-color: var(--color-2, grey);
}
/* ================================================== */
/* ログインフォーム */
/* ================================================== */
#form_lead {
    text-align: center;
    margin-bottom: 10px;
}
#login_table {
    margin: 0 auto;
}